@import "tailwindcss";

html {
  font-size: 18px;
}

:root {
  --background: #101311;
  --foreground: #9FA1A0;
  --primary: #B5EBB9;
  --highlight: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-highlight: var(--highlight);

  --font-sans: var(--font-jost);
  --font-heading: var(--font-press-start);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --breakpoint-xs: 30rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  
  @apply font-sans;
}
